<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		
		div{

		   margin-left: 11cm;
		   margin-top: 4cm; 
		   width: 8cm;
		   font-size: 15px;
		}

		h1{
	       margin-left: 11.5cm;
		}
	</style>
</head>
<body>
<div>

	<% if (message.length > 0) { %>
		
		<p class="alert alert-success"><%= message %></p>

    <% } %>
    
    <h4>Successfully</h4>
</div>
</body>
</html>
